<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tp5练习</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
<!-- <link href="__PUBLIC__/style/bootstrap.css" rel="stylesheet"> -->
<link id="beyond-link" href="__PUBLIC__/style/beyond.css" rel="stylesheet" type="text/css">
<script type='text/javascript' src='images/js/ismobile.js'></script>
<script type='text/javascript' src='__PUBLIC__/style/bootstrap.js'></script>
</head>
<body>
     <div class="ladytop">
            <div class="nav">
                <div class="left"><a href="{:url('Index/index')}"><img src="__PUBLIC__/images/hunshang.png" alt="wed114婚尚"></a></div>
                <div class="right">
                <div class="box">
                {volist name="cates" id="v"}
                    <a href="{:url('Lst/index',array('cateid'=>$v['id'])) }"  rel='dropmenu209'>{$v.catename}</a> 
                {/volist}
                 </div>
                </div>
            </div>
        </div>
        <div class="hotmenu">
            <div class="con">热门标签：
                {volist name="tags" id="v"}
                    <a href="{:url('Lst/index',array('tagid'=>$v['id']))}"  rel='dropmenu209'>{$v.tagname}</a> 
                {/volist}
            </div>
        </div>