    {include file="common/header"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		    <div class="page-container">
			<!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
                <div class="page-content">
                <!-- Page Breadcrumb -->
                    <div class="page-breadcrumbs">
                        <ul class="breadcrumb">
                            <li class="active">控制面板</li>
                         </ul>
                    </div>
                    <!-- /Page Breadcrumb -->

                    <!-- Page Body -->
                    <div class="page-body">
                            
        				<div style="text-align:center; line-height:1000%; font-size:24px;">
                        童老师THinkPHP5.0正式版 第一季 博客项目开发<br>
                        <p style="color:#aaa;">ThinkPHP交流群①：484519446【满】 | 群②：480018415【满】  | 群③：198909858</p></div>
                    </div>
                

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	


	    <!--Basic Scripts-->
    <script src="__PUBLIC__/style/jquery2.js"></script>
    <script src="__PUBLIC__/style/bootstrap.js"></script>
    <script src="__PUBLIC__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__PUBLIC__/style/beyond.js"></script>
    


</body></html>